$background: rgb(215, 173, 117);
$color-1: rgb(47, 91, 0);
$color-2: rgb(133, 42, 0);
$backgroundimg: "../images/background.jpg";

body {
    background-color: black;
}

header {
    background-color: black;
}

#dictionary-nav {
    background-color: $background;
    border-bottom: 1px $color-2 solid;
    background-image: url($backgroundimg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;

    a {
        color: $color-2;
    }
}

#wrapper {
    background-color: $background;
    background-image: url($backgroundimg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

[class*=fl] {
    border: 2.5px $color-1 solid;

    [class*=sl] {
        border-left: 2.5px $color-2 solid;
    }
}