//LAYOUT

//variables
$width-L: 1000px;
$width-M: 500px;
$width-S: 300px;


//Grid thingie

body {
    max-width: 1000px;
    margin: 0 auto;
}

header {
    margin: 0 auto;
    text-align: center;
}

#dictionary-nav {
    position: sticky;
    top: 0;
    margin: 0 auto;
    text-align: center;
    padding: 10px;

    a {
        margin: 0 5px;
    }
}

//Spacing

#wrapper {
    padding: 25px;
}

h1 {
    padding: 10px 0px;
}

h2 {
    padding: 10px 10px 0px;
}



[class*=fl] {
    padding: 10px 10px;
    margin-bottom: 20px;
    z-index: 0;

    [class*=sl] {
        margin: 2% 5%;
        padding-top: 0px;
        padding-bottom: 20px;
    }

    .word-div {
        padding: 20px 0px;
        margin: 0px 5%;
        
        h3{
            display: inline;
        }

        .pronounce::before {
            display: inline;
            content: " | ";
            font-weight: bold;
        }

        div {
            margin-top: 5px;
        }

        .pronounce ~ div:first-of-type {
            padding-top: 10px;
        }

        .order {
            margin-left: 1em;
        }

        .order + p {
            margin-left: 1em;
            display: inline;
        }
    }
}



