/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, main {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

body {
  max-width: 1000px;
  margin: 0 auto;
}

header {
  margin: 0 auto;
  text-align: center;
}

nav {
  margin: 0 auto;
  padding: 0px 20px;
}
nav ul {
  display: flex;
  padding-left: 0;
  margin: 0 auto;
  max-width: 45%;
}
nav li {
  width: 100%;
}
nav a {
  display: block;
  padding: 15px 0px;
}

main, footer {
  max-width: 1000px;
  padding: 25px;
}

#dictionary-nav {
  position: sticky;
  top: 0;
  margin: 0 auto;
  text-align: center;
  padding: 10px;
}
#dictionary-nav a {
  margin: 0 5px;
}

h1, h2, h3, p {
  margin-bottom: 10px;
}

[class*=fl] {
  padding: 10px 10px;
  margin-bottom: 20px;
  z-index: 0;
}
[class*=fl] h1 {
  padding: 10px 0px;
  margin-bottom: 0px;
}
[class*=fl] [class*=sl] {
  margin: 2% 5%;
  padding-top: 0px;
  padding-bottom: 20px;
}
[class*=fl] [class*=sl] h2 {
  padding: 10px 10px 0px;
  margin-bottom: 0px;
}
[class*=fl] .word-div {
  padding: 16px 0px;
  margin: 0px 5%;
}
[class*=fl] .word-div h3 {
  display: inline;
  margin-bottom: 0px;
}
[class*=fl] .word-div .pronounce::before {
  display: inline;
  content: " | ";
  font-weight: bold;
}
[class*=fl] .word-div p {
  margin-bottom: 0px;
}
[class*=fl] .word-div div {
  margin-top: 5px;
}
[class*=fl] .word-div .pronounce ~ div:first-of-type {
  padding-top: 10px;
}
[class*=fl] .word-div .order {
  margin-left: 1em;
}
[class*=fl] .word-div .order + p {
  margin-left: 1em;
  display: inline;
}

footer > a {
  float: right;
}

* {
  box-sizing: border-box;
}

[class*=fl], [class*=sl] {
  border-radius: 20px;
}

img {
  max-width: 100%;
}

body {
  background-color: black;
}

header {
  color: #2f5b00;
  background-color: black;
}

nav {
  background-color: #152800;
}
nav a {
  background-color: none;
  color: #e2a875;
}
nav a:hover {
  background-color: black;
}

#dictionary-nav {
  background-color: #e2a875;
  border-bottom: 1px #852a00 solid;
  background-image: url("../images/background-small.jpg");
  background-position: center center;
  background-repeat: repeat;
  background-attachment: fixed;
  background-size: cover;
}
#dictionary-nav a {
  color: #852a00;
}
#dictionary-nav a:hover {
  color: black;
}

main {
  background-color: #e2a875;
  background-image: url("../images/background-small.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

[class*=fl] {
  border: 2.5px #2f5b00 solid;
}
[class*=fl] [class*=sl] {
  border-left: 2.5px #852a00 solid;
}
[class*=fl] h1, [class*=fl] h2 {
  color: black;
}
[class*=fl] h1:hover, [class*=fl] h2:hover {
  color: #852a00;
}

@media only screen and (min-width: 800px) {
  #dictionary-nav {
    background-image: url("../images/background-large.jpg");
  }

  main {
    background-image: url("../images/background-large.jpg");
  }
}
footer {
  color: #e2a875;
}
footer a {
  color: #e2a875;
}
footer > a {
  color: #ff661f;
}

body {
  max-width: 1000px;
  margin: 0 auto;
}

header {
  margin: 0 auto;
  text-align: center;
}

nav {
  margin: 0 auto;
  padding: 0px 20px;
}
nav ul {
  display: flex;
  padding-left: 0;
  margin: 0 auto;
  max-width: 45%;
}
nav li {
  width: 100%;
}
nav a {
  display: block;
  padding: 15px 0px;
}

main, footer {
  max-width: 1000px;
  padding: 25px;
}

#dictionary-nav {
  position: sticky;
  top: 0;
  margin: 0 auto;
  text-align: center;
  padding: 10px;
}
#dictionary-nav a {
  margin: 0 5px;
}

h1, h2, h3, p {
  margin-bottom: 10px;
}

[class*=fl] {
  padding: 10px 10px;
  margin-bottom: 20px;
  z-index: 0;
}
[class*=fl] h1 {
  padding: 10px 0px;
  margin-bottom: 0px;
}
[class*=fl] [class*=sl] {
  margin: 2% 5%;
  padding-top: 0px;
  padding-bottom: 20px;
}
[class*=fl] [class*=sl] h2 {
  padding: 10px 10px 0px;
  margin-bottom: 0px;
}
[class*=fl] .word-div {
  padding: 16px 0px;
  margin: 0px 5%;
}
[class*=fl] .word-div h3 {
  display: inline;
  margin-bottom: 0px;
}
[class*=fl] .word-div .pronounce::before {
  display: inline;
  content: " | ";
  font-weight: bold;
}
[class*=fl] .word-div p {
  margin-bottom: 0px;
}
[class*=fl] .word-div div {
  margin-top: 5px;
}
[class*=fl] .word-div .pronounce ~ div:first-of-type {
  padding-top: 10px;
}
[class*=fl] .word-div .order {
  margin-left: 1em;
}
[class*=fl] .word-div .order + p {
  margin-left: 1em;
  display: inline;
}

footer > a {
  float: right;
}

nav ul {
  list-style-type: none;
  text-align: center;
}
nav a {
  font-family: "Amarante", "Times New Roman", serif;
  font-size: 16px;
}
nav a:hover {
  text-decoration: none;
}

#dictionary-nav a {
  font-size: 24px;
  text-transform: uppercase;
  text-decoration: none;
}

h1 {
  font-size: 48px;
  text-transform: uppercase;
  font-family: "Amarante", "Times New Roman", serif;
}

h2 {
  font-size: 36px;
  font-family: "Amarante", "Times New Roman", serif;
}

h3 {
  font-size: 18px;
  font-weight: bold;
}

span {
  font-size: 16px;
}

.pronounce {
  font-style: italic;
}

.order {
  font-weight: bold;
}

p {
  font-size: 16px;
  line-height: 24px;
}

.word-div p {
  text-indent: 16px;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

footer span, footer a, footer p {
  font-size: 12px;
}
footer a {
  text-decoration: underline;
}
footer > a {
  text-decoration: none;
  font-size: 14px;
}

div.hide section {
  display: none;
}

section.hide div {
  display: none;
}

/*# sourceMappingURL=styles.css.map */
